.homebanner{
    background-image: url("https://images.wallpaperscraft.com/image/single/city_buildings_river_224813_2560x1440.jpg");
    height: 90vh;
    opacity: 100%;
    background-position:top;
}